/* common style */

@charset "utf-8";

/* 倒三角 */

.triangle-down {
    border: 5px solid #666;
    border-style: solid dashed dashed;
    border-color: #666 transparent transparent;
    width: 0;
    height: 0;
}

.triangle-up-s {
    /* 父相子绝 */
    position: relative;
}

.triangle-up-s:before,
.triangle-up-s:after {
    content: "";
    /* 伪元素一定要有content */
    display: inline-block;
    border: 6px solid #f1f1f1;
    border-style: dashed dashed solid;
    border-color: transparent transparent #f1f1f1;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: -12px;
}


/* 这里有一个点关于specificity的理解: 这个地方.triangle-up-s:after实际是对上面的重写
因为,上面的样式中用的是逗号, 其实你可以想象这就是两个分开的样式. 所以,上面的.triangle-up-s:after
和下面的.triangle-up-s:after有同样的specificity. 因此,latest rule applied. */

.triangle-up-s:after {
    border-color: transparent transparent #fff;
    top: -10px;
}


/* 避免高度塌陷(方法二) */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
}


/* 弹出层的基类 */


/* 设置弹出来的层为白色 */

.cover {
    background-color: #fff;
}